.clear:after, .grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-1 {
  width: 100%; }

.grid-2-3 {
  width: 66%;
  float: left; }

.grid-1-2 {
  width: 50%;
  float: left; }

.grid-1-3 {
  width: 33%;
  float: left; }

.grid-1-4 {
  width: 25%;
  float: left; }

.grid-1-6 {
  width: 16.5%;
  float: left; }

.grid-4-5 {
  width: 80%;
  float: left; }

.grid-1-5 {
  width: 20%;
  float: left; }

.smallcaps {
  font-family: "SortsMillGoudy-SC", "SortsMillGoudy", serif;
  letter-spacing: 0.5px; }

.drop-sc:first-line {
  font-family: "SortsMillGoudy-SC", "SortsMillGoudy", serif;
  letter-spacing: 1.5px; }
.drop-sc:first-letter {
  font-size: 3em;
  float: left;
  margin-right: 5px; }

.italic {
  font-style: italic; }

@font-face {
  font-family: 'SortsMillGoudy';
  src: url("../fonts/OFLGoudyStM.woff") format("woff"), url("../fonts/OFLGoudyStM.otf") format("opentype");
  /* Compatibility */
  font-style: normal; }
@font-face {
  font-family: 'SortsMillGoudy-SC';
  src: url("../fonts/Goudy_OldStyle_SSi_Small_Caps_.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'SortsMillGoudy';
  src: url("../fonts/OFLGoudyStM-Italic.woff") format("woff"), url("../fonts/OFLGoudyStM-Italic.otf") format("opentype");
  /* Compatibility */
  font-style: italic; }
/* MediaDei defaults */
/* ================= */
* {
  box-sizing: border-box; }

html {
  font-family: "SortsMillGoudy", serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* ====================================================== */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

header {
  position: relative;
  max-height: 460px;
  min-height: 460px; }
  header span#menu:target ~ nav div.buttons-right a.menu.open {
    display: none; }
  header span#menu:target ~ nav div.buttons-right a.menu.close {
    display: block; }
  header span#menu:target ~ .hero-img .navigation-menu {
    width: 300px;
    height: 100%;
    background-color: rgba(6, 21, 36, 0.7);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 50px 0px 20px;
    opacity: 1;
    z-index: 2;
    -moz-transition: width 0.5s ease, opacity 0.5s ease;
    -o-transition: width 0.5s ease, opacity 0.5s ease;
    -webkit-transition: width 0.5s ease, opacity 0.5s ease;
    transition: width 0.5s ease, opacity 0.5s ease; }
    header span#menu:target ~ .hero-img .navigation-menu a {
      padding: 10px 10px 10px 48px;
      display: block;
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.31);
      text-align: center;
      text-transform: uppercase; }
      header span#menu:target ~ .hero-img .navigation-menu a:hover {
        background-color: rgba(0, 0, 0, 0.5); }
      header span#menu:target ~ .hero-img .navigation-menu a:active {
        background-color: rgba(0, 0, 0, 0.7); }
  header nav {
    width: 100%;
    background-color: #15223C;
    position: fixed;
    top: 0px;
    z-index: 3; }
    header nav div.buttons-left, header nav div.buttons-right {
      font-size: 1em; }
      header nav div.buttons-left a, header nav div.buttons-right a {
        display: table;
        float: left; }
        header nav div.buttons-left a:hover, header nav div.buttons-right a:hover {
          text-decoration: none; }
        header nav div.buttons-left a.menu, header nav div.buttons-right a.menu {
          margin-left: 12px;
          margin-right: 0px; }
          header nav div.buttons-left a.menu:last-of-type, header nav div.buttons-right a.menu:last-of-type {
            margin-left: 0px; }
          header nav div.buttons-left a.menu.close, header nav div.buttons-right a.menu.close {
            display: none; }
          header nav div.buttons-left a.menu div.button, header nav div.buttons-right a.menu div.button {
            border-right: none; }
        header nav div.buttons-left a div.button, header nav div.buttons-right a div.button {
          color: white;
          text-shadow: 0px 1px 0px black;
          padding: 16px 12px;
          letter-spacing: 3px;
          font-family: "SortsMillGoudy-SC", "SortsMillGoudy", serif;
          font-size: 1.2em; }
          header nav div.buttons-left a div.button.fa, header nav div.buttons-right a div.button.fa {
            font-size: 1.3em;
            padding: 5px 10px 8px; }
          header nav div.buttons-left a div.button:hover, header nav div.buttons-right a div.button:hover {
            background: rgba(0, 0, 0, 0.3); }
    header nav div.buttons-left {
      float: left; }
    header nav div.buttons-right {
      float: right; }
    header nav a.logo {
      padding: 3px 0px;
      position: absolute;
      left: 41%; }
      header nav a.logo:hover {
        text-decoration: none; }
      header nav a.logo h1 {
        margin: 0 auto;
        font-size: 1.5em;
        color: white;
        display: inline;
        letter-spacing: 3px;
        position: relative;
        top: -16px; }
      header nav a.logo div.logo {
        background: url("../images/logo.png") no-repeat center center/100% auto;
        width: 35px;
        height: 48px;
        display: inline-block;
        margin: 4px 10px 0px 10px; }
  header div.hero-overlay {
    margin: 0 auto;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    header div.hero-overlay h1.header-title, header div.hero-overlay h1.header-title-2 {
      font-size: 4em;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      letter-spacing: 4px;
      margin-bottom: 0px;
      color: white;
      text-align: center; }
    header div.hero-overlay div.hero-line {
      width: 450px;
      border-bottom: 2px solid white;
      margin: 4px auto; }
    header div.hero-overlay h1.header-title-2 {
      margin-top: 0px; }
  header div.info-box {
    display: table;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #15223C;
    padding: 8px 14px;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin: auto; }
    header div.info-box h2, header div.info-box address {
      color: white; }
    header div.info-box h2 {
      font-style: italic;
      font-size: 1.2em;
      letter-spacing: 2px;
      margin: 0px 16px 0px 0px;
      display: inline-block;
      top: -8px;
      position: relative; }
    header div.info-box address {
      display: inline-block; }
      header div.info-box address a {
        color: white; }
  header div.navigation-menu {
    opacity: 0;
    width: 0px;
    height: 0px;
    -moz-transition: width 0.5s ease, opacity 0.5s ease;
    -o-transition: width 0.5s ease, opacity 0.5s ease;
    -webkit-transition: width 0.5s ease, opacity 0.5s ease;
    transition: width 0.5s ease, opacity 0.5s ease; }
    header div.navigation-menu a {
      text-decoration-color: #FF9900; }
  header div.hero-img {
    overflow: hidden;
    max-height: 500px;
    background-color: rgba(0, 0, 0, 0.31); }
    header div.hero-img img {
      width: 100%;
      height: auto;
      position: relative;
      display: block; }
  header div.hero-featured-image {
    width: 194px;
    height: 194px;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #979797; }
    header div.hero-featured-image img {
      width: 100%;
      height: 100%; }

body.page-home header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/hero-home.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/hero-home.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero-home.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero-home.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero-home.jpg") no-repeat center 0px/100% auto; }
body.page-home section.home {
  padding: 100px 0px; }
  body.page-home section.home div.service-times-bg {
    width: 519px;
    height: 273px;
    margin: 0 auto 130px auto;
    border-radius: 4px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/home-service-time-bg.jpg") no-repeat center 0px/100% auto;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/home-service-time-bg.jpg") no-repeat center 0px/100% auto;
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home-service-time-bg.jpg") no-repeat center 0px/100% auto;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home-service-time-bg.jpg") no-repeat center 0px/100% auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home-service-time-bg.jpg") no-repeat center 0px/100% auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }
    body.page-home section.home div.service-times-bg div.service-times {
      width: 413px;
      margin: 0 auto;
      border-radius: 4px;
      padding: 10px 30px;
      position: relative;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      top: 200px;
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZmExOGMiIHN0b3Atb3BhY2l0eT0iMC4zOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), #F5E3BF;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(191, 161, 140, 0.38))), #F5E3BF;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(191, 161, 140, 0.38) 100%), #F5E3BF;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(191, 161, 140, 0.38) 100%), #F5E3BF;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(191, 161, 140, 0.38) 100%), #F5E3BF; }
      body.page-home section.home div.service-times-bg div.service-times h3 {
        text-align: center;
        font-style: italic;
        font-size: 1.4em;
        margin: 0 auto 10px auto; }
      body.page-home section.home div.service-times-bg div.service-times p {
        margin: 0 auto 2px auto; }
      body.page-home section.home div.service-times-bg div.service-times span#footnote {
        font-size: 0.8em; }
  body.page-home section.home p.drop-sc {
    margin-bottom: 40px; }
  body.page-home section.home p#learn-more {
    display: table;
    margin: 60px auto;
    border-bottom: 1px solid #969696;
    border-top: 1px solid #969696;
    padding: 4px 0px; }
    body.page-home section.home p#learn-more span.smallcaps {
      font-size: 1.2em; }
    body.page-home section.home p#learn-more a {
      margin: 0px 10px; }

body {
  font-size: 18px;
  color: #554F4B;
  line-height: 1.3; }
  body a.link {
    color: #4776BE;
    cursor: pointer;
    font-style: italic; }
  body a.button {
    color: #46565D;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZmExOGMiIHN0b3Atb3BhY2l0eT0iMC4zOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), #F5E3BF;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(191, 161, 140, 0.38))), #F5E3BF;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(191, 161, 140, 0.38) 100%), #F5E3BF;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(191, 161, 140, 0.38) 100%), #F5E3BF;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(191, 161, 140, 0.38) 100%), #F5E3BF;
    display: table;
    margin: 10px auto 0px auto;
    font-size: 1.3em;
    padding: 2px 12px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0px 1px 0px white;
    letter-spacing: 1px; }
    body a.button:hover {
      text-decoration: none; }
    body a.button:active {
      margin-top: 11px;
      margin-bottom: -1px; }
  body address {
    font-style: normal; }
  body h2.section-heading {
    font-size: 2em;
    margin: 0px auto 60px auto;
    display: table; }
  body p.drop-sc {
    hyphens: auto;
    max-width: 700px;
    margin: 0 auto; }
  body span.italic {
    font-style: italic; }
