body.page-contact{
  header{
    max-height: 400px; 
    @include background( 
        linear-gradient(rgba(black,0.4), rgba(black,0.4)),
        url('../images/hero-worship.jpg') no-repeat center 0px / 100% auto
      ); 
  }
  section.contact{
    div#contact-form{
      display: table;
      margin: 0 auto;
    }
  }

}
