div.section-divider{
  font-style: italic;
  color: white; 
  font-size: 1.2em;
  letter-spacing: 1px; 
  padding: 34px 10px 22px; 
  margin: 40px auto 60px; 
  background-color: $theme-blue;
  box-shadow: inset 0px 1px 3px 4px rgba(black,0.8);
  min-height: 108px; 
  p.centered-text{
    text-align: center;
  }
  div.text-wrap{
    max-width: 714px; 
    margin: 0 auto; 
    p.quote{
      
    }
    p.citation{
      float: right;
    }
  }
}
