body.page-home{
  header{
    max-height: 400px; 
    @include background( 
        linear-gradient(rgba(black,0.4), rgba(black,0.4)),
        url('../images/hero-home.jpg') no-repeat center 0px / 100% auto
      ); 
  }
  section.home{
    padding: 80px 0px 60px; 
    
    div.service-times-bg{
      width: 519px;
      height: 273px;
      margin: 0 auto 130px auto;
      border-radius: 4px;
      @include background( 
        linear-gradient(rgba(black,0.2), rgba(black,0.2)),
        url('../images/home-service-time-bg.jpg') no-repeat center 0px / 102% auto
      );
      box-shadow: 0px 2px 4px rgba(black,0.5);
      div.service-times{
        width: 413px;
        margin: 0 auto;
        border-radius: 4px;
        padding: 10px 30px;
        position: relative;
        box-shadow: 0px 2px 4px rgba(black,0.5);
        top: 200px;
        @include background(linear-gradient(to bottom, rgba(white,0.5) 0%, rgba(#BFA18C,0.38) 100%), #F5E3BF);
        h3{
          text-align: center;
          font-style: italic;
          font-size: 1.4em;
          margin: 0 auto 10px auto;
          letter-spacing: 1px;
        } 
        p{
          margin: 0 auto 2px auto;
        }
        span#footnote{
          font-size: 0.8em;
        }
      }
    }
    p.drop-sc{
      margin-bottom: 40px;
    }
    h4#latest-sermon{
      text-align: center;
      font-style: italic;
      font-size: 1.6em;
      letter-spacing: 1px; 
      margin: 50px auto 20px;
    }
    a.magazine-button{
      margin-top: 20px;
    }
    div.sermon-audio{
      max-width: 800px;
      margin: 0 auto;
    }
    p#learn-more{
      display: none; //underconstruction
      //display: table; 
      margin: 60px auto;
      border-bottom: 1px solid #969696;
      border-top: 1px solid #969696;
      padding: 4px 0px;
      span.smallcaps{
        font-size: 1.2em;
      }
      a{
        margin: 0px 10px;
      }
    }
    div.text-divider{
      font-style: italic;
      color: white; 
      font-size: 1.2em;
      letter-spacing: 1px; 
      padding: 34px 10px 22px; 
      margin: 40px auto 60px; 
      div.text-wrap{
        max-width: 714px; 
        margin: 0 auto; 
        p.verse{
          
        }
        p.citation{
          float: right;
        }
      }
    }
    div.devotions-bg{
      @include background( 
        linear-gradient(rgba(white,0.4), rgba(white,0.4)),
        url('../images/lady-chapel-window.jpg') no-repeat center -480px / 240% auto
      );
      box-shadow: inset 0px 3px 6px rgba(black,0.4);
      width: 340px;
      height: 390px;
      margin: 0 auto; 
      ul{
        position: relative;
        top: 160px;
        left: -170px;
        list-style: none; 
        background-color: rgba(white,0.7);  
        border-radius: 4px;
        box-shadow: 0px 1px 2px 1px rgba(black,0.4);
        padding: 10px 20px; 
        width: 328px;
        h3{
          margin: 0px;
          letter-spacing: 1px;  
          font-size: 1.1em;
          display: table;
        }
        li{
          margin: 4px 0px;
          a{
            
          }
        }
      }
    }
    span#caption{
      margin: 14px auto;
      width: 216px;
      text-align: center;
      display: block;
    }
  }
}
