body.page-worship{
  header{
    max-height: 400px; 
    @include background( 
        linear-gradient(rgba(black,0.4), rgba(black,0.4)),
        url('../images/hero-worship.jpg') no-repeat center 0px / 100% auto
      );
  }
  section.worship{
    padding: 80px 0px 60px;
    div#daily-schedule{
      max-width: 480px;
      margin: 0 auto;
      p{
        margin: 8px 0px;
      }
      div.grid-1-4,div.grid-3-4{
        margin: 10px auto;
        ul{
          list-style-type: none; 
          margin: 8px; 
          li{
            &.footnote{
              font-size: 0.8em;
              margin: 4px auto;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
