//init and global style includes
@import "compass/css3";
@import "bits";
@import "normalize";
@import "header";
@import "footer";

//page style includes
@import "home";

//@import "worship";
//@import "fellowship";
//@import "education";

//@import "news";

//@import "sermons";
//@import "about";
//@import "contact";

//@import "single";

//global styles
body{
  font-size: 18px;
  color: $base-text;
  line-height: 1.3;
  a{
    &.link{
      color: $link;
      cursor: pointer;
      font-style: italic;
    }
    &.button{
      color: $button-text;
      @include background(linear-gradient(to bottom, rgba(white,0.5) 0%, rgba(#BFA18C,0.38) 100%), #F5E3BF); 
      display: table;
      margin: 10px auto 0px auto;
      font-size: 1.3em; 
      padding: 2px 12px;
      box-shadow: 0px 2px 3px rgba(black,0.5);
      border-radius: 4px;
      text-shadow: 0px 1px 0px rgba(white,1);
      letter-spacing: 1px;
      &:hover{
        text-decoration: none; 
      }
      &:active{
        margin-top: 11px;
        margin-bottom: -1px;
        
      }
    }
     
  }
  address{
    font-style: normal; //disable default italics
  }
  h2.section-heading{
    font-size: 2em;
    margin: 0px auto 60px auto;
    display: table; 
  }
  p.drop-sc{
    hyphens: auto;
    max-width: 700px;
    margin: 0 auto; 
  }
  span.italic{
    font-style: italic;
  }
}
